/*
=========
Universal
=========
*/

body {
  font-family: "Quicksand", sans-serif;
}

#loading {
  height: 50px;
  padding-top: 50px;
}

/*
===========
Search Page
===========
*/

#mountains {
  padding: 0px 0 40px 0;
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  width: 300px;
  height: 25px;
  margin-bottom: 15px;
}

input[type="number"] {
  width: 200px;
  height: 25px;
}

button {
  width: 96px;
  height: 31px;
}

button:hover .trees {
  display: none;
}

#submit:hover:before {
  content: "🌲🌲🌲";
}

.container {
  width: 60%;
  padding: 20px 10px 30px 10px;
  border: 3px solid black;
  margin: auto;
  background-color: rgb(159, 197, 154);
}

form {
  text-align: center;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

/*
=======
Results
=======
*/

#boom {
  text-align: center;
}

.rad {
  font-family: "Creepster", cursive;
  color: rgb(251, 107, 170);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

hr {
  width: auto;
  height: 50px;
  border: none;
  margin: auto;
  background: url(images/Mountain\ HR.png) no-repeat top center;
}

#height {
  margin: 0;
}

/*
=============
Media Queries
=============
*/

@media screen and (max-width: 768px) {
  input[type="text"] {
    height: 25px;
    width: auto;
    margin: auto;
  }

  input[type="number"] {
    height: 25px;
    width: auto;
    margin: auto;
  }

  button {
    height: 31px;
    margin-top: 10px;
  }

  .container {
    width: 98%;
    padding: 0;
    margin: auto;
  }

  .container p {
    padding: 0 10px;
  }

  ul {
    list-style: none;
    text-decoration: none;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  li {
    text-align: center;
  }

  li,
  p {
    font-size: 15px;
  }
}
