/*
=========
Universal
=========
*/

body {
<<<<<<< HEAD
  font-family: "Quicksand", sans-serif;
=======
  font-family: 'Quicksand', sans-serif;
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
}

#loading {
  height: 50px;
  padding-top: 50px;
}

/*
===========
Search Page
===========
*/

#mountains {
  padding: 0px 0 40px 0;
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

<<<<<<< HEAD
input[type="text"] {
=======
input[type=text] {
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
  width: 300px;
  height: 25px;
  margin-bottom: 15px;
}

<<<<<<< HEAD
input[type="number"] {
=======
input[type=number] {
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
  width: 200px;
  height: 25px;
}

button {
  width: 96px;
  height: 31px;
}

button:hover .trees {
<<<<<<< HEAD
  display: none;
=======
  display: none
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
}

#submit:hover:before {
  content: "🌲🌲🌲";
}

.container {
  width: 60%;
  padding: 20px 10px 30px 10px;
  border: 3px solid black;
  margin: auto;
  background-color: rgb(159, 197, 154);
}

form {
  text-align: center;
}

.error-message {
<<<<<<< HEAD
  color: red;
=======
    color: red;
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
}

.hidden {
  display: none;
}

/*
=======
Results
=======
*/

#boom {
  text-align: center;
}

.rad {
<<<<<<< HEAD
  font-family: "Creepster", cursive;
  color: rgb(251, 107, 170);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
=======
  font-family: 'Creepster', cursive;
  color:rgb(251, 107, 170);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; 
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
}

ul {
  list-style: none;
<<<<<<< HEAD
  text-decoration: none;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
=======
  margin: auto;
}

li {
  margin: auto;
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
}

hr {
  width: auto;
  height: 50px;
  border: none;
  margin: auto;
  background: url(images/Mountain\ HR.png) no-repeat top center;
}

#height {
  margin: 0;
}

/*
=============
Media Queries
=============
*/

@media screen and (max-width: 768px) {
<<<<<<< HEAD
  input[type="text"] {
    height: 25px;
    width: auto;
    margin: auto;
  }

  input[type="number"] {
    height: 25px;
    width: auto;
    margin: auto;
  }

  button {
    height: 31px;
    margin-top: 10px;
  }

  .container {
    width: 98%;
    padding: 0;
    margin: auto;
  }

  ul {
    list-style: none;
    text-decoration: none;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  li {
    text-align: center;
  }

  li,
  p {
    font-size: 15px;
  }
}
=======
  input[type=text] {
      height: 25px;
      width: auto;
      margin: auto;
  }
  
  input[type=number] {
      height: 25px;
      width: auto;
      margin: auto;
  }
  
  button {
      height: 31px;
      margin-top: 10px;
  }

  .container {
      margin-bottom: 25px;
  }
}
>>>>>>> 4f79e5ced40b6a4d11f8ca03fd65701f2c714182
